---
import Facebook from "@/assets/Facebook.astro";
import Instagram from "@/assets/Instagram.astro";
const date = new Date();
---

<footer
  class="flex items-center justify-center w-full gap-x-6 h-screem bottom-0 py-7 bg-primary-foreground mt-auto"
>
  <div class="flex justify-between items-center w-[90%]">
    <h1>&copy; {date.getFullYear()} Robokids</h1>
    <ul class="flex justify-center gap-x-4">
      <a
        href="https://www.instagram.com/robokids.csn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
      >
        <Instagram class="w-8 h-8" />
      </a>
      <a href="https://www.facebook.com/robokids.csn" target="_blank">
        <Facebook class="w-8 h-8" />
      </a>
    </ul>
  </div>
</footer>
